.banner{
    width: 100%;
    height: 400px;           
    background-image: url('..//IMG/fondSlogan2.png'); 
    background-size:cover;  
    background-position: center; 
    background-repeat: no-repeat; 
    display: flex;           
    justify-content: center; 
    align-items: center;     
}

.Slogan p {
    text-align: center; 
    color: white;
    font-weight: bolder ;
    font-size: 35;
}
